<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../css/main.css" rel="stylesheet" type="text/css">
    <link href="/src/main/webapp/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- ваше содержимое страницы -->
</body>
</html>
